page-homewindow {

}
#ex{
  color: red;
  font-weight:bold;
  font-size: 50px;
  input {
    text-align: center;
  }
  border-bottom: 1px;
  float: left;
}
#hi{
  color: orange;
  font-weight:bold;
  font-size: 50px;
  input {
    text-align: center;
  }
  border-bottom: 1px;
  float: left;
}
#ba{
  color: blue;
  font-weight:bold;
  font-size: 50px;
  input {
    text-align: center;
  }
  border-bottom: 1px;
  float: left;
}
#ext{
  font-weight:bold;
  color: red;
}
#hxt{
  font-weight:bold;
  color: orange;
}
#bxt{
  font-weight:bold;
  color: blue;
}
